---

---

<div class="warning my-12 border-y-4 border-[#ea9d34] xl:-mx-8 xl:px-8">
  <svg xmlns="http://www.w3.org/2000/svg"
    class="w-16 h-16 mt-6 p-2 rounded-full border-4 border-gray-300 text-[#ea9d34] fill-current"
    aria-hidden="true" role="img" width="1em" height="1em"
    preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
    <path fill="currentColor"
      d="M164.5 32h-73a7.9 7.9 0 0 0-5.6 2.3L34.3 85.9a7.9 7.9 0 0 0-2.3 5.6v72.9a7.9 7.9 0 0 0 2.3 5.7l51.6 51.6a7.9 7.9 0 0 0 5.6 2.3h73a7.9 7.9 0 0 0 5.6-2.3l51.6-51.6a7.9 7.9 0 0 0 2.3-5.7V91.5a7.9 7.9 0 0 0-2.3-5.6l-51.6-51.6a7.9 7.9 0 0 0-5.6-2.3Z"
      opacity=".2" />
    <path fill="currentColor"
      d="M120 136V80a8 8 0 0 1 16 0v56a8 8 0 0 1-16 0Zm8 24a12 12 0 1 0 12 12a12 12 0 0 0-12-12Zm104-68.5v72.9a16.3 16.3 0 0 1-4.7 11.4l-51.5 51.5a16.2 16.2 0 0 1-11.3 4.7h-73a16.2 16.2 0 0 1-11.3-4.7l-51.5-51.5a16.3 16.3 0 0 1-4.7-11.4V91.5a16.2 16.2 0 0 1 4.7-11.3l51.5-51.5A16.2 16.2 0 0 1 91.5 24h73a16.2 16.2 0 0 1 11.3 4.7l51.5 51.5a16.2 16.2 0 0 1 4.7 11.3Zm-16 0L164.5 40h-73L40 91.5v72.9L91.5 216h73l51.5-51.6Z" />
  </svg>

  <slot />
</div>
