---

---

<div class="your-turn my-12 border-y-4 border-[#907aa9] xl:-mx-8 xl:px-8">
  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
    width="1em" height="1em"
    class="w-16 h-16 mt-6 p-2 rounded-full border-4 border-gray-300 text-[#907aa9] fill-current"
    preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
    <path fill="currentColor" d="m224 64l-96 32l-96-32l96-32Z" opacity=".2" />
    <path fill="currentColor"
      d="m226.5 56.4l-96-32a8.5 8.5 0 0 0-5 0l-95.9 32h-.2l-1 .5h-.1l-1 .6c0 .1-.1.1-.2.2l-.8.7l-.7.8c0 .1-.1.1-.1.2l-.6.9c0 .1 0 .1-.1.2l-.4.9l-.3 1.1v.3A3.7 3.7 0 0 0 24 64v80a8 8 0 0 0 16 0V75.1l33.6 11.2A63.2 63.2 0 0 0 64 120a64 64 0 0 0 30 54.2a96.1 96.1 0 0 0-46.5 37.4a8.1 8.1 0 0 0 2.4 11.1a7.9 7.9 0 0 0 11-2.3a80 80 0 0 1 134.2 0a8 8 0 0 0 6.7 3.6a7.5 7.5 0 0 0 4.3-1.3a8.1 8.1 0 0 0 2.4-11.1a96.1 96.1 0 0 0-46.5-37.4a64 64 0 0 0 30-54.2a63.2 63.2 0 0 0-9.6-33.7l44.1-14.7a8 8 0 0 0 0-15.2ZM176 120a48 48 0 0 1-96 0a48.6 48.6 0 0 1 9.3-28.5l36.2 12.1a8 8 0 0 0 5 0l36.2-12.1A48.6 48.6 0 0 1 176 120Zm-9.3-45.3h-.1L128 87.6L89.4 74.7h-.1L57.3 64L128 40.4L198.7 64Z" />
  </svg>

  <slot />
</div>
